.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
#search-bar {
  width: 100%;
  padding: 0.6rem;
  border: 2px rgb(11, 10, 10) solid;
  border-radius: 10px ;
}
#search-bar:focus {
  border: 2px gray solid !important;
  border-radius: 10px !important;
}
